<h1> real time</h1>

No termine de entender como mostrar los datos que vienen desde el socket.emit en el html. Se muestran los productos por consola.

<script src="./socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>